@charset "utf-8";
/* CSS Document */

body
{
	margin:5px;
	
	border: 1px solid rgba(255,255,255,0.5);
	border-radius:10px;
	background-image:url('res/bgbg.jpg');
	
	background-size: cover;
	/*
	background-repeat:repeat;
	
	opacity:0;
	
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	*/
	font-size:100%;
}
.ipadBody
{
	margin:5px;
	
	border: 1px solid rgba(255,255,255,0.5);
	border-radius:10px;
	background-image:url('res/bgbg.jpg');
	
	background-size: cover;
	/*
	background-repeat:repeat;
	
	opacity:0;
	
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	*/
	font-size:100%;	
}
.spacer
{
	position:relative;
	padding:0;
	margin:0;
	border:none;
	width:100%;
	height:100%;	
	border-radius:10px;
	
	background-image: -webkit-gradient(radial,50% 50%,0, 50% 50%, 1200, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.2)));
	background-image: -moz-radial-gradient(center 45deg, circle farthest-side, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
}
.container
{
	position:absolute;
	
	width:715px;
	height:180px;
	padding:10px;
	
	border-radius:10px;
	/*
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4) inset;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4) inset;
	
	background-color:#f0f0f08a;        	
	*/
	overflow:hidden;
	cursor:default;
}
.numbers
{
	position:absolute;		
	color:#ffffff;
	
	font-family:trebuchet ms;
	font-size:200px;
	line-height:180px;
	
	-webkit-transition: top 0.5s;
	-o-transition: top 0.5s;
	-moz-transition: top 0.5s;
}
.seps
{
	position:absolute;
				
	color:#ffffff;
	
	font-family:trebuchet ms;
	font-size:200px;
	line-height:140px;
	
	-webkit-transition: top 0.5s;
	-o-transition: top 0.5s;
	-moz-transition: top 0.5s;
}
.controls
{
	position:absolute;
	width:120px;
	padding:5px;
	overflow:hidden;
	
	color:White;
	background-color: transparent;
	
	font-family:verdana;
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	
	cursor:pointer;
	
	border-radius:20px;
	border:solid 10px rgba(255,255,255,0.7);           
	
	-webkit-transition: background-color 1s, border-color 1s;
	-o-transition:  background-color 1s, border-color 1s;
	-moz-transition: background-color 1s, border-color 1s;
}
#startButton:hover, #stopButton:hover
{
	background-color: rgba(30,144,255,0.7);
	border-color: rgba(255,255,255,1);
}
#stopwatch
{
	border-radius:20px 0px 0px 20px;;
	border-left:solid 10px rgba(255,255,255,0.7);
	border-right:none;
	border-top:solid 10px rgba(255,255,255,0.7);
	border-bottom:solid 10px rgba(255,255,255,0.7);
	
	width:200px;	
	background-color: rgba(30, 144,255,0.7);
}
#timer
{
	border-radius:0px 20px 20px 0px;
	border-left:none;
	border-right:solid 10px rgba(255,255,255,0.7);
	border-top:solid 10px rgba(255,255,255,0.7);
	border-bottom:solid 10px rgba(255,255,255,0.7);
				
	width:200px;  
}
#stopWatch:hover, #timer:hover
{
	border-color: rgba(255,255,255,1);	
}
.nav
{
	position: absolute;       	
	padding:2px 0px;
	
	color:White;
	/*
	background-color:White;
	*/
	font-size:32px;
	text-align:center;
	
	cursor:pointer;
	
	border-radius:10px;
	
	visibility:hidden;
}
.links
{
	position:absolute;
	padding:10px;
	width:250px;
	
	font-family:Verdana;
	font-size:12px;
	text-transform:uppercase;	
	text-align:right;
	
	color:white;	
}
.links a
{
	text-decoration:none;
	color:white;	
}
.links a:hover
{
	text-decoration:underline;	
}
.links img
{
	cursor:pointer;	
}
.about
{
	position:absolute;
	width:auto;
	padding: 1px 6px 1px 6px;
	
	font-family:Verdana;
	font-size:12px;
	text-transform:lowercase;
	color:white;
	cursor:default;
	
	border-radius:20px;
	border:solid 1px white;	
}
.aboutOver
{
	width: 250px;
	padding: 10px;
	border-radius: 10px; 
}
.title
{
	position:absolute;
	padding:10px;
	
	font-family:Verdana;
	font-size:12px;
	text-transform:uppercase;	
	
	color:white;	
}